/* Thin CSS shim for WalletConnect Modal. */
@import url("https://cdn.jsdelivr.net/npm/@walletconnect/modal@2.6.2/dist/style.css");
@import url("https://unpkg.com/@walletconnect/modal@2.6.2/dist/style.css");
